#landingPage {
  min-height: 79vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
}
.carousel-indicators,
.carousel-indicators *,
.carousel-control-prev,
.carousel-control-next {
  display: none !important;
}
.fade-in {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 2s both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 2s both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.bg-purple {
  transition: all 0.9s;
  background: #981eb5 !important;
}
.bg-purple > a {
  color: aliceblue;
  text-decoration: none;
}
.bg-purple:hover {
  scale: 1.1;
  cursor: pointer;
  transition: all 0.8s;
}
.text-shadow {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.notxt-shdw {
  text-shadow: none !important;
}
.shadow-btn {
  box-shadow: 0 -5px 5px 10px rgba(222, 92, 255, 0.3);
  transition: all 0.9s;
}
.shadow-btn:hover {
  scale: 1.1;
  cursor: pointer;
  box-shadow: 0 5px 5px 10px rgba(110, 195, 252, 0.3);
  background: #338dc9 !important;
}
.words-cng {
  animation: clr-cng 1.5s alternate-reverse infinite !important;
}

@keyframes clr-cng {
  0% {
    color: black;
  }
  33% {
    color: #981eb5;
  }
  66% {
    color: #338dc9;
  }
}
.shadow-white-lg {
  box-shadow: 0 0 10px 10px rgba(245, 245, 245, 0.315);
}
