#supportPage {
  min-height: 80vh;
  background: white;
}
.iconDark {
  color: black;
  transition: all 0.9s;
}
.iconDark:hover {
  cursor: pointer;
}
.scale11 {
  font-size: 0.9em;
}
.transition {
  transition: 0.9s;
}
.bg-purple2 {
  background: rgb(118, 15, 118);
}
