.shadow-lg-gray {
  box-shadow: 0 0 10px 10px rgb(255, 255, 255);
}
#myHeader {
  top: 0;
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;
  z-index: 1111;
}

.hov:hover {
  cursor: pointer;
  scale: 1.15;
}
.hov {
  transition: all 0.5s !important;
}
.transparent {
  color: transparent !important;
  font-size: 0em;
}

.hov2:hover {
  padding: 10px;
  scale: 1.2;
}
.hov2 {
  transition: all 0.9s;
}
.h-0 {
  height: 0px;
  display: none;
}
.makeItDisappear {
  animation: goUp 3s end;
  height: 0px;
  opacity: 0;
}

@keyframes goUp {
  0% {
    position: relative;
    top: 0;
  }
  100% {
    position: relative;
    top: -200px;
  }
}
